{
    "extends": [
        "stylelint-config-standard",
        "stylelint-config-recommended-scss",
        "stylelint-config-prettier-scss",
        "stylelint-prettier/recommended",
        "stylelint-order-config-standard",
        "stylelint-config-prettier"
    ],
    "plugins": ["stylelint-order", "stylelint-scss"],
    "rules": {
        "at-rule-no-unknown": null,
        "scss/at-rule-no-unknown": true,
        "scss/at-import-no-partial-leading-underscore": null,
        "selector-class-pattern": "^[a-z][a-zA-Z0-9]+$",
        "selector-pseudo-class-no-unknown": [
            true,
            {
                "ignorePseudoClasses": ["export"]
            }
        ],
        "property-no-unknown": [
            true,
            {
                "ignoreSelectors": [":export", "/^:import/"]
            }
        ]
    }
}
