@import 'styles/variables';
@import 'styles/palette';

.selectContainer {
    margin: 0 auto;

    color: $text-tertiary;

    & [class$='-control'] {
        border: 1px solid $border-secondary;
    }
}

.select {
    & [class*='indicatorSeparator'] {
        display: none;
    }
}
