@import 'styles/variables';
@import 'styles/mixins';

.catalog {
    width: 100%;
    min-width: $min-width;
    max-width: $max-catalog-width;
    margin: 0 auto;
    padding: 80px 25px 185px;
}

.catalogFilter {
    margin-bottom: 75px;
}

.catalogTitle {
    @include visually-hidden;
}
