@import 'palette';
@import 'variables';

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    text-align: left;

    color: $text-primary;

    background-color: $background-primary;

    font-family: Epilogue, Arial, sans-serif;
    font-size: $font-size-s;
    font-weight: $regular;
    font-style: normal;
    line-height: $line-height-m;

    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

img {
    display: block;

    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

button {
    margin: 0;
    padding: 0;

    cursor: pointer;

    border: none;
}
