/* Please use https://color-name-generator.com/ to get basic color name */

/* Basic */
$white: #fff;
$maritime-blue: #28293e;
$okra: #fdf0e9;
$dugong: #707070;
$american-bronze: #391400;
$koopa-green-shell: #4fe24a;
$battletoad: #16cd53;
$indian-clay: #f3d1bf;

/* Background */
$background-primary: $maritime-blue;
$background-secondary: $okra;
$background-tertiary: $white;

/* Borders */
$border-primary: $white;
$border-secondary: $indian-clay;

/* Outlines */
$outline-primary: $koopa-green-shell;

/* Text */
$text-primary: $white;
$text-secondary: $dugong;
$text-tertiary: $american-bronze;
